{% load booking_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tables</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body> 
        <nav class="navigation">
            <h1><a href="{% url 'index' %}">Tables</a></h1>

            <div style="margin-left: 20px; display: inline-block;">
                <a href="{% url 'add_booking' %}">Add</a>
                <a href="{% url 'delete_booking' %}">Delete</a>
            </div>
        </nav>

        <form action="{% url 'add_booking' %}" method="POST">
            {% csrf_token %}
            <div class="bookings-container" id="bookings-container" name="delete_the_booking">
                <select name="bookings" id="bookings-select">
                </select>

                <input type="text" name="who_added" required placeholder="Who adds the booking" min="4">

                <input type="date" name="check_in_date" id="check_in_date" required>
                <input type="date" name="check_out_date" id="check_out_date" required>
            </div>

            <h1>Are you sure you want to add the booking?</h1>
            <button type="submit">Add Booking</button>
        </form>

        <script src="{% static 'add.js' %}"></script>
    </body>
</html>